src/main/resources/META-INF/mule-saaj.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/saaj/2.2"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.2"
            targetNamespace="http://www.mulesource.org/schema/mule/saaj/2.2"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans"/>

    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.2"
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.2/mule.xsd"/>

    <xsd:element name="soap-message-to-document-transformer" type="mule:abstractTransformerType"
                 substitutionGroup="mule:abstract-transformer">
        <xsd:annotation>
            <xsd:documentation>
                Converts the body of a SOAP message to a Document.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="document-to-soap-message-transformer" type="documentToSoapMessageTransformerType"
                 substitutionGroup="mule:abstract-transformer">
        <xsd:annotation>
            <xsd:documentation>
                Uses an XML document to populate the body of a SOAP message
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="documentToSoapMessageTransformerType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractTransformerType">
                 <xsd:attribute name="propagateHeaders" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>
                            Whether or not to propage message properties to SOAP headers.  True by default.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="headerURI" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The namespace URI to use when propagating message properties to SOAP headers.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="headerPrefix" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The namespace prefix to use when propagating message properties to SOAP headers.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
