src/main/resources/META-INF/mule-saaj.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/saaj"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            targetNamespace="http://www.mulesoft.org/schema/mule/saaj"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/schemadoc"
                schemaLocation="http://www.mulesoft.org/schema/mule/schemadoc/3.1/mule-schemadoc.xsd"/>

    <xsd:element name="soap-message-to-document-transformer" type="soapMessageToDocumentTransformerType"
                 substitutionGroup="mule:abstract-transformer">
        <xsd:annotation>
            <xsd:documentation>
                Converts the body of a SOAP message to a Document.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>


    <xsd:element name="document-to-soap-message-transformer" type="documentToSoapMessageTransformerType"
                 substitutionGroup="mule:abstract-transformer">
        <xsd:annotation>
            <xsd:documentation>
                Uses an XML document to populate the body of a SOAP message
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="documentToSoapMessageTransformerType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractTransformerType">
                <xsd:attribute name="propagateHeaders" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>
                            Whether or not to propage message properties to SOAP headers. True by default.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="headerURI" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The namespace URI to use when propagating message properties to SOAP headers.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="headerPrefix" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The namespace prefix to use when propagating message properties to SOAP headers.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

     <xsd:complexType name="soapMessageToDocumentTransformerType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractTransformerType">
                <xsd:attribute name="throwExceptionOnFault" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>
                            Whether or not to throw an exception when a SOAP fault is encountered. False by default.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
